<%= form_with(model: chunk, local: true) do |form| %>
  <% if chunk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chunk.errors.count, "error") %> prohibited this chunk from being saved:</h2>

      <ul>
      <% chunk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :lang %>
    <%= form.text_field :lang %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
