<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chunk.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @chunk.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @chunk.code %>
</p>

<p>
  <strong>Lang:</strong>
  <%= @chunk.lang %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @chunk.desc %>
</p>

<%= link_to 'Edit', edit_chunk_path(@chunk) %> |
<%= link_to 'Back', chunks_path %>
